.Form {
    display: grid;
    grid-auto-rows: 1fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192, 0.1);
    border: 1px solid goldenrod;
}
