.Form {
    display: grid;
    grid-auto-rows: 1fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: aliceblue;
    border: 1px solid goldenrod;
}
